*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Mountains of Christmas;
}

:root {
  --box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  --padding: 1rem;
}

html {
  font-size: 62.5%;
  /* sets 1rem to 10px */
  
}

body {
  background-color: rgb(235, 14, 14);
  box-sizing: border-box;
  padding: var(--padding);
  height:95vh;
}

.hidden {
  opacity: 0;
}

.banner {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 7vmin, 10rem);
  background-image: linear-gradient(
    to right bottom,
    rgba(44, 128, 44),
    rgba(41, 235, 12)
  );
  border: none;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}

.main {
  margin-top: 1rem;
  padding: var(--padding);
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba(44, 128, 44),
    rgba(41, 235, 12)
  );
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}

.input {
  text-align: center;
  padding: var(--padding);
}
.click-below {
  text-align: center;
  font-size: 10rem;
  padding: var(--padding);
}

.anchor {
  padding: var(--padding);
  position: relative;
}

.btn {
  padding: var(--padding);
}

/* .btn:hover {
}

.btn-animated {
} */

.image {
  margin: 0 auto;
  border-radius: 50rem;
  box-shadow: var(--box-shadow);
  width: 70%;
  transition: all 0.4s ease;
}

.click-me {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 7vmin, 2rem);
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
  filter: brightness(200%);
}

.image:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.9);
  filter: blur(0.05rem) brightness(95%);
  transition: all 0.4s ease;
}

.elf-name {
  font-size: clamp(2rem, 7vmin, 10rem);
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container {
  overflow: hidden;
  border: none;
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: 50rem;
  
}

.christmas-tree {
  background-image: linear-gradient(
    to right bottom,
    rgba(44, 128, 44, 0.5),
    rgba(41, 235, 12, 0.5)
  );
  display: block;
  width: 100%;
  object-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.refresh {
  padding: var(--padding);
  text-align: center;
  margin-top: 1rem;
}

.btn-refresh {
  text-align: center;
  padding: var(--padding);
  width: 40%;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: clamp(0.25rem, 7vmin, 2rem);
  background-color:  rgb(235, 14, 14);
  box-shadow: var(--box-shadow);
  transition: all 0.4s ease;
  text-transform: capitalize;
}

.btn-refresh:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease;
}
